.container{
  margin-top: 10px;
  border-color: dodgerblue solid;
  
  

}
.container-purchase_summary{
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
  padding: 1em;
}
.container-purchase_summary > .show-grid{
   padding-bottom: 1.5em;
}
.item-details-button:focus{
  outline: none;
  font-size: 15px ;
}
.price-strike{
  text-decoration-line: line-through;
  color: grey;
}
.promo-code-button:focus{
  outline: none;
  margin-left: 20px;

}
.btn-round{
  justify-content: center;
}