.App-logo {
  height: 30px;
}
.App-header {
  background-color: #f5f5f5;
  padding: 20px;
  color: #333;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dashboard-container .left-side {
  width: 55%;
}
.dashboard-container .right-side {
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}
.year-container .recharts-surface, .skills-container .recharts-surface {
  overflow: visible;
}
.area-container, .city-container {
  width: 50%;
  padding-top: 20px;
}
.total-hires-container {
  margin-bottom: 50px;
}
.total-number {
  font-weight: 500;
  font-size: 12rem;
  line-height: 1;
  color: #333;
}
.total-hires {
  font-size: 2.25rem;
  line-height: 1.33333;
  color: #333;
}
h3 {
  color: #333;
}
body {
  background-color: #f5f5f5;
}
